.ql-container.ql-snow {
  border: none !important;
  font-size: 1.2rem;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar button:active {
  color: gray;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #677080;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
}
